<body>
    <header-banner></header-banner>
<div id="page-my-lineups">
    <div id="page-content">
        <div class="container">
        
        	<div class="lineup">
                    <div class="lineup-header">
                    	<div class="lineup-title">
                        	NFL
                        </div>
                        <div class="lineup-salary">
                        	REMAINING SALARY: <span>$7000</span>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-options">
                        <a routerLink="/lineup/new" routerLinkActive="active"  class="button">Edit Lineup</a>
                    	<a href="" class="button">View Entries</a>
                    </div>
                </div>
                
                <div class="lineup">
                    <div class="lineup-header">
                    	<div class="lineup-title">
                        	NFL
                        </div>
                        <div class="lineup-salary">
                        	REMAINING SALARY: <span>$7000</span>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-options">
                        <a routerLink="/lineup/new" routerLinkActive="active"  class="button">Edit Lineup</a>
                    	<a href="" class="button">View Entries</a>
                    </div>
                </div>
                
                <div class="lineup">
                    <div class="lineup-header">
                    	<div class="lineup-title">
                        	NFL
                        </div>
                        <div class="lineup-salary">
                        	REMAINING SALARY: <span>$7000</span>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-user">
                        <div class="lineup-user-image">
                            <a href="">
                                <img src="images/man-image.png" />
                            </a>
                        </div>
                        <div class="lineup-user-info">
                            <div class="weight"> WR </div>
                            <div class="price"> $9,700 </div>
                        </div>
                        <div class="lineup-user-name"> ANTONIO BROWN </div>
                        <div class="lineup-user-options"> SWAP
                            <a href="">
                                <img src="images/icon-delete.png" />
                            </a>
                        </div>
                    </div>
                    <div class="lineup-options">
                        <a routerLink="/lineup/new" routerLinkActive="active" class="button">Edit Lineup</a>
                    	<a href="" class="button">View Entries</a>
                    </div>
                </div>
            
        </div>
    </div>
</div>
<footer-banner></footer-banner>
</body>