 <footer id="colophon" role="contentinfo">
            <div id="footer-top">
                <div class="container">
                    <a href="http://localhost/Sportingbucks" id="footer-logo">
                        <div id="widget_sp_image-3" class="widget widget_sp_image">
                            <img width="159" height="211" alt="" class="attachment-full" style="max-width: 100%;" src="images/logo-footer.png">
                        </div>
                    </a>
                    <div id="footer-col1">
                        <div id="nav_menu-7" class="widget widget_nav_menu">
                            <h3 class="widgettitle">Sitemap</h3>
                            <div class="menu-footer-sitemap-container">
                                <ul id="menu-footer-sitemap" class="menu">
                                    <li id="menu-item-41335" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-41257 current_page_item menu-item-41335">
                                        <a routerLink="/lobby" routerLinkActive="active">Lobby</a>
                                    </li>
                                    <li id="menu-item-41332" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41332">
                                        <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                                    </li>
                                    <li id="menu-item-41357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41357">
                                        <a routerLink="/terms" routerLinkActive="active">Terms of Use</a>
                                    </li>
                                    <li id="menu-item-41358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41358">
                                        <a routerLink="/privacy" routerLinkActive="active">Privacy Notice</a>
                                    </li>
                                    <li id="menu-item-41359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41359">
                                        <a routerLink="/legality" routerLinkActive="active">Legality</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="footer-col2">
                        <div id="nav_menu-6" class="widget widget_nav_menu">
                            <h3 class="widgettitle">Customer Support</h3>
                            <div class="menu-footer-customer-support-container">
                                <ul id="menu-footer-customer-support" class="menu">
                                    <li id="menu-item-41360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41360">
                                        <a routerLink="/my-account/faq" routerLinkActive="active">FAQ</a>
                                    </li>
                                    <li id="menu-item-41291" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41291">
                                        <a routerLink="/how-it-works" routerLinkActive="active">How It Works</a>
                                    </li>
                                    <li id="menu-item-41361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41361">
                                        <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                                    </li>
                                    <li id="menu-item-41293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41293">
                                        <a routerLink="/terms" routerLinkActive="active">Terms of Use</a>
                                    </li>
                                    <li id="menu-item-41296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-41296">
                                        <a routerLink="/privacy" routerLinkActive="active">Privacy Policy</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="footer-col3">
                        <div id="text-5" class="widget widget_text"><h3 class="widgettitle">Newsletter</h3>
                            <div class="textwidget">
                                <p>Receive Weekly Updates and Sports News</p>
                                <!-- Begin MailChimp Signup Form -->
                                <div id="mc_embed_signup">
                                    <form action="//sportingbucks.us14.list-manage.com/subscribe/post?u=a041e39cbde5e57b9ce5f135a&amp;id=b0f0d64c78" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
                                        <div id="mc_embed_signup_scroll">
                                            <div class="mc-field-group">
                                                <input type="email" value="" name="EMAIL" class="required email" placeholder="Enter your email..." id="mce-EMAIL">
                                            </div>

                                            <div id="mce-responses" class="clear">
                                                <div class="response" id="mce-error-response" style="display:none"></div>
                                                <div class="response" id="mce-success-response" style="display:none"></div>
                                            </div>
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                <input type="text" name="b_a041e39cbde5e57b9ce5f135a_b0f0d64c78" tabindex="-1" value="">
                                            </div>
                                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
            <div class="container">
                    <div id="footer-bottom-left">
                        <div id="text-6" class="widget widget_text">
                            <div class="textwidget"><p>Copyright © 2017 Sporting Bucks. All Rights Reserved.</p></div>
                        </div>
                    </div>
                    <div id="footer-bottom-right">
                        <div id="widget_sp_image-4" class="widget widget_sp_image">
                            <img width="205" height="31" alt="" class="attachment-full" style="max-width: 100%;" src="images/payment.png">
                        </div>
                    </div>
                </div>
            </div>
        </footer>