<body>    
    <header-banner></header-banner>
        <div id="page-add-funds">
            <div id="page-content">
                <div class="container">
                    <div id="content">	
                        <img src="images/bucks-start-here.png" />
                        <div class="row">
                                <div class="col-md-12">
                                    <div class="price-area">
                                        <h2>
                                            $10
                                        </h2>
                                        <a href="" class="btn btn-default">Select</a>
                                    </div>
                                    <div class="price-area">
                                        <h2>
                                            $25
                                        </h2>
                                        <a href="" class="btn btn-default">Select</a>
                                    </div>
                                    <div class="price-area">
                                        <h2>
                                            $100
                                        </h2>
                                        <a href="" class="btn btn-default">Select</a>
                                    </div>
                                    <div class="price-area">
                                        <h2>
                                            $200
                                        </h2>
                                        <a href="" class="btn btn-default">Select</a>
                                    </div>
                                    <div class="price-area">
                                        <h4>
                                            custom
                                        </h4>
                                        <input type="text" class="form-control input-field" >
                                        <h6>Enter your own<br /> dollar amount</h6>
                                        <a href="" class="btn btn-default">Select</a>
                                    </div>
                                    <div class="col-md-8 col-md-offset-2 payment">
                                        <form action="#" method="post">
                                            <div class="col-md-12">
                                                <label>
                                                    Payment Type
                                                </label>
                                                <label class="checkbox-inline ">
                                                <input type="checkbox" value="">Credit or Debit Card
                                                </label>
                                                <label class="checkbox-inline">
                                                <input type="checkbox" value="">Paypal
                                                </label>    
                                            </div>                    
                                            <div class="col-md-6 cardholder">
                                                <label >
                                                    Cardholder Name
                                                </label>
                                            </div>      
                                            <div class="col-md-6 form-group">
                                                <input  type="text" class="form-control cardinput">
                                            </div>
                                            <div class="col-md-6 cardholder">
                                                <label >
                                                    Card Number
                                                </label>
                                            </div>  
                                            <div class="col-md-6 form-group">
                                                <input  type="text" class="form-control cardinput">
                                            </div>  
                                            <div class="col-md-6 cardholder">
                                                <label >
                                                    Expiration Date
                                                </label>
                                            </div>  
                                            <div class="col-md-6 form-group">
                                                <input  type="text" class="form-control cardinput">
                                            </div> 
                                            <div class="col-md-6 cardholder">
                                                <label >
                                                    CVV Code
                                                </label>
                                            </div> 
                                            <div class="col-md-6 form-group">
                                                <input  type="text" class="form-control cardinput">
                                            </div>
                                            <div class="col-md-12 futurecard">
                                                <label class="checkbox-inline ">
                                                <input type="checkbox" value="">Remember Card For Future use
                                                </label>
                                            </div>
                                            <div class="col-md-12 deposit">
                                                <button type="Submit" class="btn btn-default">
                                                    Deposit Funds
                                                </button>
                                            </div>        
                                        </form>
                                    </div>
                                    
                                </div>
                            </div>  
                    </div>  
                </div>
            </div>
        </div>
    <footer-banner></footer-banner>
</body>