<div class="ml-content" id="modal-login">
		<div id="register" class="modal-login-content">

			<!-- <button type="button" class="ml-close" data-dismiss="ml-modal" aria-hidden="true">×</button> -->
			<h2>Create an Account</h2>
			
			<p class="mluser">
				<label class="field-titles">Username</label>
				<input type="text" [(ngModel)]="model.userName" class="input" size="20">
			</p>

			<p class="mluser" >
				<label class="field-titles" >First Name</label>
				<input type="text" [(ngModel)]="model.firstName" class="input" size="20">
			</p>

			<p class="mluser">
				<label class="field-titles">Last Name</label>
				<input type="text"  [(ngModel)]="model.lastName" class="input" size="20">
			</p>

			<p class="mlemail">
				<label class="field-titles">Email</label>
				<input type="text"  [(ngModel)]="model.email" class="input" size="20">
			</p>
			<p class="mlregpsw">
				<label class="field-titles">Password</label>
				<input type="password"  [(ngModel)]="model.password" class="input" size="20">
			</p>
			<p class="mlregpswconf">
				<label class="field-titles">Confirm Password</label>
				<input type="password"  [(ngModel)]="confirm_password" class="input" size="20">
			</p>

			<p class="submit">
				<button class="button button-primary button-large" (click)="register()">Sign Up</button>
			</p><!--[END .submit]-->

			<div *ngIf="model.err_msg" class="err-msg">
				{{ model.err_msg }}
			</div>

			<div *ngIf="model.success_msg" class="success-msg">
				{{ model.success_msg }}
			</div>

	</div>
</div>