<body>
<header-banner></header-banner>

<div id="subnav-contest">
    <div class="container">
        <div id="subnav-contest-right">
            <form id="subnav-search">
                <input type="text" value="Search Contests.." />
            </form>
            <div id="subnav-entry">
                <label>Entry fee</label>
                <select>
                    <option>Free</option>
                </select>
                <select>
                    <option>$1000</option>
                </select>
            </div>
            <div id="subnav-starting">
                <label>Starting Time</label>
                <select>
                    <option>Sun 10/16 9:00AM</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div id="subheader">
    <div class="container">
        <div id="subheader-left"> $1 Million Sun NFL Rush ($100K to 1st) </div>
        <div id="subheader-right">
            <div class="subheader-item">
                <strong>RULES & SCORING</strong><br />
                <a>
                    Click Here
                </a>
            </div>
            <div class="subheader-item">
                <strong>CONTEST TYPE</strong><br />
                Tournament </div>
            <div class="subheader-item">
                <strong>ENTRIES</strong><br />
                57794 / 231213 </div>
            <div class="subheader-item">
                <strong>ENTRY FEE</strong><br />
                $5 </div>
            <div class="subheader-item">
                <strong>PRIZES</strong><br />
                $1,000,000 </div>
        </div>
    </div>
</div>
<div id="subnav-rounds">
    <div class="container">
    	<ul>
            <li class="selected"> 
            	<a>ROUND 1- EARLY GAMES</a>
            </li>
            <li>
            	<a>ROUND 2 - AFTERNOON</a>
            </li>
            <li>
            	<a>ROUND 3 - PRIMETIME</a>
            </li>
        </ul>
    </div>
</div>
<div id="page-lineup">
    <div id="page-content">
        <div class="container">
        	<div id="subnav-games">
                <h3>PLEASE SELECT <span>THREE</span> TEAMS TO CONTINUE</h3>
                <ul>
                    <li class="games-all selected"> All Games </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                    <li>
                        <a>
                            <span>CHI<br />
                            IND</span>
                            <br />
                            SUN 12:00P
                        </a>
                    </li>
                </ul>
            </div>
            <div id="lineup-options">
                <div id="lineup-search">
                    <form>
                        <input type="text" placeholder="Search Players.." />
                        <input type="submit" />
                    </form>
                </div>
                <div id="lineup-available"> AVAILABLE PLAYERS </div>
                <div id="lineup-remaining"> REMAINING SALARY<br />
                    AVG REM/PLAYER </div>
                <div id="lineup-time"> CONTEST STARTS<br />
                    1:00P ET
                    <span>3:21:16:40</span>
                </div>
            </div>
            <div id="available-players">
            	<div id="player-types">
                	<ul>
                    	<li class="selected">
                        	<a>All</a>
                        </li>
                        <li>
                        	<a>QB</a>
                        </li>
                        <li>
                        	<a>RB</a>
                        </li>
                        <li>
                        	<a>WR</a>
                        </li>
                        <li>
                        	<a>WR</a>
                        </li>
                        <li>
                        	<a>TE</a>
                        </li>
                        <li>
                        	<a>RB/WR</a>
                        </li>
                        <li>
                        	<a>WR/TE</a>
                        </li>
                        <li>
                        	<a>DL/OLB</a>
                        </li>
                        <li>
                        	<a>CB/S</a>
                        </li>
                        <li>
                        	<a>ST</a>
                        </li>
                    </ul>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI 
                        </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> <span>$9,700</span> </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
                <div class="available-player">
                    <div class="area">
                        <div class="left-col">
                            <span> PITTS </span>
                            <br>
                            VS <br>
                            CHI </div>
                        <div class="central-col">
                            <a>
                                <img src="images/man-image.png" alt="image">
                            </a>
                        </div>
                        <div class="right-col"> $9,700 </div>
                        <div class="col-full"> ANTONIO BROWN </div>
                    </div>
                    <div class="total-price">
                        <div class="plus">
                            <a>
                                <img src="images/icon-plus.png" alt="image">
                            </a>
                        </div>
                        <div class="left-bottom-col"> OPP 2ND </div>
                        <div class="right-bottom-col"> FPPG 35.8 </div>
                    </div>
                </div>
            </div>
            <div id="your-lineup">
            	<div id="lineup-title">Your Lineup</div>
                
                <div class="lineup">
                	<div class="lineup-round lineup-round1">
                    	<div class="lineup-round-title">Round &nbsp;1</div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lineup-round lineup-round2">
                    	<div class="lineup-round-title">Round 2</div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="lineup-round lineup-round3">
                    	<div class="lineup-round-title">Round 3</div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                        <div class="lineup-user">
                            <div class="lineup-user-image">
                                <a>
                                    <img src="images/man-image.png" />
                                </a>
                            </div>
                            <div class="lineup-user-info">
                                <div class="weight"> WR </div>
                                <div class="price"> $9,700 </div>
                            </div>
                            <div class="lineup-user-name"> ANTONIO BROWN </div>
                            <div class="lineup-user-options"> SWAP
                                <a>
                                    <img src="images/icon-delete.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <a class="button">Proceed to Round 2</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer-banner></footer-banner>
</body>